@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 32px;
}

h1 {
  font-family: "PT Serif", serif;
  font-size: 32px;
}

.section-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

p.serif {
  position: absolute;
  top: calc(100% - 72%);
  right: calc(100% - 158%);
  font-family: "PT Serif", serif;
  font-weight: 400;
  width: 100%;
  text-transform: uppercase;
  transform: rotate(90deg);
}

.section-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding-bottom: 6rem;
}

.section-2 section {
  position: relative;
}

.section-2 section:nth-child(even) {
  transform: translateY(20%);
}

.section-2 img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  body {
    max-width: 1200px;
    margin: auto;
  }

  .section-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-2 img {
    height: 500px;
  }

  p.serif {
    top: calc(100% - 69%);
    right: calc(100% - 155%);
  }
}

@media (min-width: 992px) {
  .section-2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-2 section:nth-child(5) {
    transform: translateY(40%);
  }
}